body {
  background: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $primary-font;
  font-size: var(--default-font-size);
  color: #ccc;
  @include flex();
  overflow-x: hidden;
}

main {
  width: Min(90%, 1150px);
  min-height: 80vh;
  background: #00101c;
  opacity: 0.95;
  border-radius: 2rem;
  box-shadow: 2px 3px 5px #cccccc20;
  @include flex(column, space-between);
  position: relative;
  user-select: none;

  #game-title,
  #btn-wrapper {
    margin: 4rem 0;
  }

  #game-type-wrapper,
  #game-display-wrapper {
    width: 100%;
    flex-grow: 1;
  }

  #game-type-wrapper {
    @include flex();
    flex-wrap: wrap;
  }

  #game-display-wrapper {
    @include flex($justify: space-evenly);
    flex-wrap: wrap;
  }
}

.repo-link {
  @include flex();
  position: absolute;
  top: 0%;
  right: 0%;
  margin: clamp(1rem, 2vw, 2rem);
  font-size: clamp(2rem, 2vw, 2.5rem);
  border-radius: 50%;
  transition: transform 0.3s linear;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:focus-visible {
    outline: 3px dashed #0a7753;
  }
}

@media (max-width: 850px) {
  main {
    #game-title,
    #btn-wrapper {
      margin: 3rem 0;
    }

    #btn-wrapper {
      margin-top: 1rem;
    }

    .message {
      margin: 1.5rem 1rem;
    }
  }
}

@media (max-width: 600px) {
  main {
    min-height: unset;

    .message {
      margin: 1rem;
    }
  }
}

@media (max-width: 500px) {
  main {
    width: 100%;
    margin: 0 0.3rem;

    #game-display-wrapper {
      flex-direction: column;
      justify-content: center;
    }

    .btn {
      padding: 0.5rem 1.75rem;
    }
  }
}

@media (max-width: 500px) {
  main {
    .btn {
      padding: 0.4rem 1.5rem;
    }
  }
}
