body {
  background: url("../assets/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  font-family: $primary-font;
  font-size: 1.6rem;
  color: #ccc;
  @include flex();
  overflow: hidden;
}

main {
  width: 60vw;
  height: 80vh;
  background: #00101c;
  opacity: 0.95;
  border-radius: 2rem;
  box-shadow: 2px 3px 5px #cccccc20;
  @include flex(column, space-between);
  position: relative;

  #game-title,
  #btn-wrapper {
    margin: 4rem 0;
  }

  #game-type-wrapper,
  #game-display-wrapper {
    width: 100%;
    flex-grow: 1;
  }

  #game-type-wrapper {
    @include flex();
    padding: 0 8rem;
  }

  #game-display-wrapper {
    @include flex($justify:space-evenly);
  }
}