#game-board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  .grid-item {
    @include flex();
    width: Max(5.4vw, 90px);
    height: Max(4.4vw, 75px);
    padding: 1rem 2.2rem;
    background-color: #cccccc30;
    font-size: var(--large-font-size);
    font-weight: bolder;
    border-radius: 0.3rem;
    box-shadow: inset 3px 5px 10px #0a775350;
    cursor: pointer;

    &:focus-visible {
      outline: 3px solid #cccccc80;
    }
  }

  .available-board-item {
    &:hover,
    &:focus {
      background-color: #cccccc50;
    }
  }

  .marked-item {
    box-shadow: 1px 2px 3px #cccccc80;
  }

  .win-index-animation {
    animation: shadow-rotate 1s infinite ease-out;
  }

  .draw-animation {
    animation: blink-item 1s infinite ease-out;
  }
}

#game-display-wrapper {
  .player-card,
  #game-board {
    margin: 1rem;
  }

  .player-card {
    @include flex(column);
    width: 20%;
  }

  .player-info {
    @include flex();
    width: Max(100%, 180px);
    position: relative;
    padding: 1rem 1.5rem;
    text-transform: uppercase;

    span {
      margin: 0 0.5rem;
    }
  }

  .player-name {
    font-size: var(--small-font-size);
  }

  .player-box {
    border-radius: 0.5rem;
    color: #aaa;
    border: none;
    border-left: 3px solid #cccccc50;
    border-right: 3px solid#cccccc50;
    box-shadow: 0px 3px 10px #cccccc10, 0px -2px 10px #cccccc10;
  }

  .player-mark {
    -webkit-text-stroke: 1px #00aa7780;
    font-weight: bolder;
  }

  .player-score {
    font-weight: bolder;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .level-settings-wrapper {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 20%;
    @include flex(column, $align: flex-end);
  }

  .level-settings-btn,
  .level-options {
    flex-grow: 1;
  }

  .level-settings-btn {
    transform: rotate(0deg);
    transition: transform 0.3s linear;
    border-radius: 20%;
    padding: 0.3rem;
    width: clamp(30px, 3vw, 35px);
    cursor: pointer;

    &:hover,
    &:focus {
      transform: rotate(180deg);
    }

    &:focus-visible {
      outline: 2px solid #cccccc80;
    }
  }

  .level-options {
    background-color: #081824;
    margin-top: 1.5rem;
    text-transform: initial;
    font-size: var(--tiny-font-size);
    list-style: none;
  }

  .level-option {
    padding: 0.5rem 0.8rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #cccccc50;
    }

    &:hover,
    &:focus {
      background-color: #cccccc10;
    }

    &:focus-visible {
      border-radius: 0.5rem;
      outline: 2px solid #cccccc80;
    }
  }

  .current-level {
    color: #0a7;
  }
}

.turn-indicator {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 0.2rem;
    background-color: #0a7;
    border-left: 2px solid #fff;
  }
}

.scale-in-animation {
  animation: scale-in 0.75s 1 linear;
}

.scale-out-animation {
  animation: scale-out 0.75s 1s 1 linear;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes shadow-rotate {
  0% {
    box-shadow: inset -3px 4px 8px #00aa7780, inset 2px -2px 6px #ffffff80;
  }
  25% {
    box-shadow: inset -7px -6px 15px #00aa7780, inset 6px 5px 10px #ffffff80;
  }
  50% {
    box-shadow: inset -7px -6px 12px #ffffff80, inset 6px 5px 10px #00aa7780;
  }
  75% {
    box-shadow: inset -3px 4px 8px #ffffff80, inset 2px -2px 6px #00aa7780;
  }
  100% {
    box-shadow: inset -3px 4px 8px #00aa7780, inset 2px -2px 6px #ffffff80;
  }
}

@keyframes blink-item {
  to {
    background-color: #cccccc35;
  }
}

@media (max-width: 910px) {
  #game-display-wrapper {
    #game-board {
      order: 2;
    }

    .player-card,
    #game-board {
      margin: 1.5rem 2rem;
    }
  }
}

@media (max-width: 600px) {
  #game-display-wrapper {
    .player-info {
      padding: 0.7rem 1rem;
    }

    .player-score {
      padding: 0.3rem 0.8rem;
    }

    .level-settings-wrapper {
      left: -20%;
      align-items: flex-start;
    }
  }
}

@media (max-width: 500px) {
  #game-display-wrapper {
    #game-board {
      order: unset;
    }

    .player-card {
      flex-direction: row;
      width: unset;
    }

    #game-board,
    .player-card {
      margin: 2rem 1rem;
    }

    .player-score,
    .player-info {
      margin: 0 1rem;
    }

    .turn-indicator {
      &::before {
        width: 6px;
        height: 6px;
      }
    }
  }
}

@media (max-width: 360px) {
  #game-board {
    grid-gap: 0.6rem;

    .grid-item {
      width: Max(5.4vw, 80px);
      height: Max(4.4vw, 65px);
    }
  }
}
