#game-board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  user-select: none;

  .grid-item {
    @include flex();
    width: 105px;
    height: 85px;
    padding: 1rem 2.2rem;
    background-color: #cccccc30;
    font-size: 2.7rem;
    font-weight: bolder;
    border-radius: 0.3rem;
    box-shadow: inset 3px 5px 10px #0a775350;
    cursor: pointer;
  }

  .available-board-item {
    &:hover {
      background-color: #cccccc50;
    }
  }

  .marked-item {
    box-shadow: 1px 2px 3px #cccccc80;
  }

  .win-index-animation {
    animation: shadow-rotate 1s infinite ease-out;
  }

  .draw-animation {
    animation: blink-item 1s infinite ease-out;
  }
}

.scale-in-animation {
  animation: scale-in 0.75s 1 linear;
}

.scale-out-animation {
  animation: scale-out 0.75s 1s 1 linear;
}

#game-display-wrapper {
  .player-card {
    @include flex(column);
    width: 20%;
    font-size: 1.5rem;
  }

  .player-info {
    @include flex();
    width: 100%;
    position: relative;
    padding: 1rem 0;
    text-transform: uppercase;

    span {
      margin: 0 0.5rem;
    }
  }

  .player-box {
    border-radius: 0.5rem;
    color: #aaa;
    border: none;
    border-left: 3px solid #cccccc50;
    border-right: 3px solid#cccccc50;
    box-shadow: 0px 3px 10px #cccccc10, 0px -2px 10px #cccccc10;
  }

  .player-mark {
    -webkit-text-stroke: 1px #00aa7780;
    font-size: 1.7rem;
    font-weight: bolder;
  }

  .player-score {
    font-weight: bolder;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
  }

  .level-settings-wrapper {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 20%;
    @include flex(column, $align: flex-end);
  }

  .level-settings-btn,
  .level-options {
    flex-grow: 1;
  }

  .level-settings-btn {
    font-size: 1.8rem;
    transform: rotate(0deg);
    transition: transform 0.3s linear;
    cursor: pointer;

    &:hover {
      transform: rotate(180deg);
    }
  }

  .level-options {
    margin-top: 1.5rem;
    text-transform: initial;
    font-size: 0.8rem;
    list-style: none;
  }

  .level-option {
    padding: 0.5rem 0.8rem;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid #cccccc50;
    }
  }

  .level-option:hover {
    background-color: #cccccc10;
  }

  .current-level {
    color: #0a7;
  }
}

.turn-indicator {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 0.2rem;
    background-color: #0a7;
    border-left: 2px solid #fff;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes shadow-rotate {
  0% {
    box-shadow: inset -3px 4px 8px #00aa7780, inset 2px -2px 6px #ffffff80;
  }
  25% {
    box-shadow: inset -7px -6px 15px #00aa7780, inset 6px 5px 10px #ffffff80;
  }
  50% {
    box-shadow: inset -7px -6px 12px #ffffff80, inset 6px 5px 10px #00aa7780;
  }
  75% {
    box-shadow: inset -3px 4px 8px #ffffff80, inset 2px -2px 6px #00aa7780;
  }
  100% {
    box-shadow: inset -3px 4px 8px #00aa7780, inset 2px -2px 6px #ffffff80;
  }
}

@keyframes blink-item {
  to {
    box-shadow: inset 3px 4px 10px #ffffff50, inset -3px -4px 10px #ffffff50;
  }
}
