#game-type-wrapper {
  .game-type {
    width: Max(33.3%, 250px);
    @include flex(column);
    padding: 3rem 0;
    margin: 0 2rem;
    border-radius: 2rem;
    background-color: #cccccc20;
    border: 4px solid transparent;
    text-align: center;
    font-size: var(--medium-font-size);
    word-spacing: 100vw;
    line-height: 4rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      box-shadow: 3px 5px 0px #cccccc60;
    }

    span::first-letter {
      font-size: var(--large-font-size);
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0 35%;
      background-color: #cccccc30;
    }

    &::before {
      transform: translate(-80%, 70%);
    }

    &::after {
      transform: translate(80%, -70%);
    }
  }

  .add-border {
    border-color: #0a7753;
  }
}

.bubble-up-animation {
  &::before {
    animation: bubble-left 0.75s 1 linear;
  }
  &::after {
    animation: bubble-right 0.75s 1 linear;
  }
}

@keyframes bubble-left {
  50% {
    transform: translate(-65%, 55%);
  }
  100% {
    transform: translate(-80%, 70%);
  }
}

@keyframes bubble-right {
  50% {
    transform: translate(65%, -55%);
  }
  100% {
    transform: translate(80%, -70%);
  }
}

@media (max-width: 1200px) {
  #game-type-wrapper {
    .game-type {
      padding: 2.5rem 0;
    }
  }
}

@media (max-width: 750px) {
  #game-type-wrapper {
    .game-type {
      margin: 1.5rem 2rem;
      padding: 2rem 0;
      line-height: 3.5rem;
    }
  }
}

@media (max-width: 600px) {
  #game-type-wrapper {
    .game-type {
      margin: 1.5rem;
      padding: 1.5rem 0;
      line-height: 3rem;
    }
  }
}

@media (max-width: 600px) {
  #game-type-wrapper {
    .game-type {
      margin: 1rem 1.5rem;
    }
  }
}
