#game-board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  user-select: none;

  .grid-item {
    @include flex();
    width: 105px;
    height: 85px;
    padding: 1rem 2.2rem;
    background-color: #cccccc30;
    font-size: 2.7rem !important;
    font-weight: bolder;
    border-radius: 0.3rem;
    box-shadow: inset 3px 5px 10px #0a775350;
    cursor: pointer;
  }

  .available-board-item {
    &:hover {
      background-color: #cccccc50;
    }
  }

  .add-border {
    box-shadow: inset -3px 4px 8px #00aa7780, inset 2px -2px 6px #ffffff80;
  }
}

.scale-in-animation {
  animation: scale-in 0.75s 1 linear;
}

#game-display-wrapper {
  .player-info {
    @include flex(column);
    width: 15%;
    position: relative;
    padding: 1rem 0;
    border-radius: 0.5rem;
    color: #aaa;
    border-left: 3px solid #cccccc50;
    border-right: 3px solid#cccccc50;
    box-shadow: 0px 3px 10px #cccccc10, 0px -2px 10px #cccccc10;
    text-transform: uppercase;
  }
}

.turn-indicator {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 0.2rem;
    background-color: #0a7;
    border-left: 2px solid #fff;
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
