.heading {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: 2px 3px 0 #444;
}

.btn {
  background-color: #0a7753;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  box-shadow: -2px 3px 2px #999;
  cursor: pointer;
  transition: transform 0.2s linear, border-radius 0.2s linear;
  user-select: none;

  &:hover {
    transform: scale(1.05);
    border-radius: 1.5rem 1rem;
  }
}
