*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    a,input{
        color:inherit;
    }
    button{
        border:unset;
        font:inherit;
        color:inherit;
    }
}