@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

$primary-font: "Balsamiq Sans", cursive;

$large-font-size: 2.7rem;
$heading-font-size: 2.2rem;
$medium-font-size: 2rem;
$default-font-size: 1.6rem;
$small-font-size: 1.3rem;
$tiny-font-size: 1rem;

:root {
  --large-font-size: #{$large-font-size};
  --heading-font-size: #{$heading-font-size};
  --medium-font-size: #{$medium-font-size};
  --default-font-size: #{$default-font-size};
  --small-font-size: #{$small-font-size};
  --tiny-font-size: #{$tiny-font-size};
}

@media (max-width: 1200px) {
  :root {
    --large-font-size: 2.4rem;
    --heading-font-size: 1.9rem;
    --medium-font-size: 1.65rem;
    --default-font-size: 1.3rem;
    --small-font-size: 1rem;
    --tiny-font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  :root {
    --large-font-size: 2.2rem;
    --heading-font-size: 1.7rem;
    --medium-font-size: 1.45rem;
    --default-font-size: 1.1rem;
  }
}

@media (max-width: 360px) {
  :root {
    --large-font-size: 2.1rem;
    --heading-font-size: 1.6rem;
    --medium-font-size: 1.35rem;
    --default-font-size: .95rem;
    --small-font-size: 0.85rem;
  }
}
